@model dbfirstapp.Models.Teacher

@{
    ViewData["Title"] = "Details";
}

<h1 id="top">Details</h1>

<div>
    <h4 id="top">Teacher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
