@model dbfirstapp.Models.Schedule

@{
    ViewData["Title"] = "Details";
}

<h1 id="top">Details</h1>

<div>
    <h4 id="top">Schedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ETime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ETime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseNameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseNameNavigation.CName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deptment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deptment.DId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.TId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
