@model IEnumerable<dbfirstapp.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h1 id="top">Class Schedule</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ETime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseNameNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deptment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ETime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseNameNavigation.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deptment.DId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.TId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
